body {
   background-color: beige;
   color: black;
   font-family: font-family: "Bai Jamjuree", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button{
    background-color: rgb(202, 254, 159);
    color:black;
    font-family: font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    texr-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}